In [1]:
import pandas as pd
from datetime import datetime

data = pd.read_excel('./clean_dataset/session_5_clean.xlsx') # stimulus 시점 표시된 clean data 가져오기.
data

,Unnamed: 0,TimeStamp,Delta_AF8,Theta_AF8,Alpha_AF8,Beta_AF8,Gamma_AF8,stimulus
0,0,2022-07-22 16:47:05.270,0.653585,0.779724,0.756711,0.682772,0.091385,0
1,1,2022-07-22 16:47:05.271,0.653585,0.779724,0.756711,0.682772,0.091385,0
2,2,2022-07-22 16:47:05.271,0.653585,0.779724,0.756711,0.682772,0.091385,0
3,3,2022-07-22 16:47:05.271,0.653585,0.779724,0.756711,0.682772,0.091385,0
4,4,2022-07-22 16:47:05.272,0.653585,0.779724,0.756711,0.682772,0.091385,0
...,...,...,...,...,...,...,...,...
67255,67305,2022-07-22 16:51:27.944,0.756288,0.337619,0.567640,0.647005,0.448585,0
67256,67306,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0
67257,67307,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0
67258,67308,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0
67259,67309,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0

In [2]:
data['beta/theta'] = data['Beta_AF8']/data['Theta_AF8']

In [3]:
data

,Unnamed: 0,TimeStamp,Delta_AF8,Theta_AF8,Alpha_AF8,Beta_AF8,Gamma_AF8,stimulus,beta/theta
0,0,2022-07-22 16:47:05.270,0.653585,0.779724,0.756711,0.682772,0.091385,0,0.875659
1,1,2022-07-22 16:47:05.271,0.653585,0.779724,0.756711,0.682772,0.091385,0,0.875659
2,2,2022-07-22 16:47:05.271,0.653585,0.779724,0.756711,0.682772,0.091385,0,0.875659
3,3,2022-07-22 16:47:05.271,0.653585,0.779724,0.756711,0.682772,0.091385,0,0.875659
4,4,2022-07-22 16:47:05.272,0.653585,0.779724,0.756711,0.682772,0.091385,0,0.875659
...,...,...,...,...,...,...,...,...,...
67255,67305,2022-07-22 16:51:27.944,0.756288,0.337619,0.567640,0.647005,0.448585,0,1.916374
67256,67306,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0,1.916374
67257,67307,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0,1.916374
67258,67308,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0,1.916374
67259,67309,2022-07-22 16:51:27.945,0.756288,0.337619,0.567640,0.647005,0.448585,0,1.916374

In [4]:
data.to_excel("./clean_dataset/session_5_clean.xlsx") # clean data로 저장.