In [ ]:
pd.set_option('display.max_rows', None)

In [29]:
import pandas as pd
from datetime import datetime
 
df_data1 = pd.read_table('./dataset/data2.csv',sep=',') # 여기 들어가는 데이터는 muse에서 바로 뽑은 데이터
df_data1 = df_data1.drop('Elements', axis=1) # Elements 컬럼 drop
df_data1= df_data1.dropna(axis=0) # 결측치 있는 행 drop
df_data1.info()
df_data1.isnull().sum() # 결측치 없는거 확인하기

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31272 entries, 0 to 31290
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TimeStamp        31272 non-null  object
 1   Delta_TP9        31272 non-null  float64
 2   Delta_AF7        31272 non-null  float64
 3   Delta_AF8        31272 non-null  float64
 4   Delta_TP10       31272 non-null  float64
 5   Theta_TP9        31272 non-null  float64
 6   Theta_AF7        31272 non-null  float64
 7   Theta_AF8        31272 non-null  float64
 8   Theta_TP10       31272 non-null  float64
 9   Alpha_TP9        31272 non-null  float64
 10  Alpha_AF7        31272 non-null  float64
 11  Alpha_AF8        31272 non-null  float64
 12  Alpha_TP10       31272 non-null  float64
 13  Beta_TP9         31272 non-null  float64
 14  Beta_AF7         31272 non-null  float64
 15  Beta_AF8         31272 non-null  float64
 16  Beta_TP10        31272 non-null  float64
 17  Gamma_TP9        31272 non-null  float64
 18  Gamma_AF7        31272 non-null  float64
 19  Gamma_AF8        31272 non-null  float64
 20  Gamma_TP10       31272 non-null  float64
 21  RAW_TP9          31272 non-null  float64
 22  RAW_AF7          31272 non-null  float64
 23  RAW_AF8          31272 non-null  float64
 24  RAW_TP10         31272 non-null  float64
 25  AUX_RIGHT        31272 non-null  float64
 26  Accelerometer_X  31272 non-null  float64
 27  Accelerometer_Y  31272 non-null  float64
 28  Accelerometer_Z  31272 non-null  float64
 29  Gyro_X           31272 non-null  float64
 30  Gyro_Y           31272 non-null  float64
 31  Gyro_Z           31272 non-null  float64
 32  HeadBandOn       31272 non-null  float64
 33  HSI_TP9          31272 non-null  float64
 34  HSI_AF7          31272 non-null  float64
 35  HSI_AF8          31272 non-null  float64
 36  HSI_TP10         31272 non-null  float64
 37  Battery          31272 non-null  float64
dtypes: float64(37), object(1)
memory usage: 9.3+ MB

TimeStamp          0
Delta_TP9          0
Delta_AF7          0
Delta_AF8          0
Delta_TP10         0
Theta_TP9          0
Theta_AF7          0
Theta_AF8          0
Theta_TP10         0
Alpha_TP9          0
Alpha_AF7          0
Alpha_AF8          0
Alpha_TP10         0
Beta_TP9           0
Beta_AF7           0
Beta_AF8           0
Beta_TP10          0
Gamma_TP9          0
Gamma_AF7          0
Gamma_AF8          0
Gamma_TP10         0
RAW_TP9            0
RAW_AF7            0
RAW_AF8            0
RAW_TP10           0
AUX_RIGHT          0
Accelerometer_X    0
Accelerometer_Y    0
Accelerometer_Z    0
Gyro_X             0
Gyro_Y             0
Gyro_Z             0
HeadBandOn         0
HSI_TP9            0
HSI_AF7            0
HSI_AF8            0
HSI_TP10           0
Battery            0
dtype: int64

In [37]:
# 필요한 열 골라서 dataframe으로 만들기.
data = df_data1[df_data1.columns[[0,2,6,10,14,18]]]

In [40]:
data['stimulus'] = 0

C:\Users\hhz20\AppData\Local\Temp/ipykernel_12748/2813471243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['stimulus'] = 0

In [41]:
data

,TimeStamp,Delta_AF7,Theta_AF7,Alpha_AF7,Beta_AF7,Gamma_AF7,stimulus
0,2022-07-05 14:03:30.972,0.787475,0.355094,0.662357,1.185562,0.850897,0
1,2022-07-05 14:03:30.973,0.787475,0.355094,0.662357,1.185562,0.850897,0
2,2022-07-05 14:03:30.973,0.787475,0.355094,0.662357,1.185562,0.850897,0
3,2022-07-05 14:03:30.974,0.787475,0.355094,0.662357,1.185562,0.850897,0
4,2022-07-05 14:03:30.974,0.787475,0.355094,0.662357,1.185562,0.850897,0
...,...,...,...,...,...,...,...
31286,2022-07-05 14:05:33.036,0.590314,0.417819,0.668900,0.957642,0.858311,0
31287,2022-07-05 14:05:33.036,0.590314,0.417819,0.668900,0.957642,0.858311,0
31288,2022-07-05 14:05:33.036,0.590314,0.417819,0.668900,0.957642,0.858311,0
31289,2022-07-05 14:05:33.037,0.590314,0.417819,0.668900,0.957642,0.858311,0
31290,2022-07-05 14:05:33.037,0.590314,0.417819,0.668900,0.957642,0.858311,0

In [43]:
type(data['TimeStamp'][0])

str

In [61]:
time_1 = datetime.strptime(data['TimeStamp'][0],"%Y-%m-%d %H:%M:%S%f[:-3]")

ValueError: time data '2022-07-05 14:03:30.972' does not match format '%Y-%m-%d %H:%M:%S%f[:-3]'